.helpBox {
  background-color: rgba(33, 161, 161, 255);
  background-image: url('/src/assets/images/help-bg.svg');
  width: 100%;
  height: 11rem;
  background-repeat: no-repeat;
  border-radius: 10px;
}
