.top {
  background-color: rgba(255, 255, 255, 0.8);
  margin-top: 2%;
  width: 60%;
  z-index: 999;
  position: fixed;
  margin-left: 20%;
  border-radius: 10px;
  padding-left: 2%;
  height: 7%;
  align-items: center;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.02), 0px 0px 2px rgba(0, 0, 0, 0.05),
    0px 1px 4px rgba(0, 0, 0, 0.08);
}
.download-button {
  font-size: 12px;
  padding: 8px 10px;
}

.wlcm-heading {
  color: rgb(42, 166, 166);
  font-size: 40px;
}
.labels {
  color: #2d3748;
  display: block;
  margin-bottom: 1%;
}
.login-form {
  margin-right: 15%;
  margin-top: 5%;
  margin-left: auto;
  max-width: 50%;
}
.text-box {
  width: 100%;
  margin-bottom: 3%;
}
.p-password .p-password-input {
  border-radius: 1rem;
}
.sm-login-screen img {
  max-width: 100%;
  height: auto;
  max-height: 100vh;
}
.text-signup {
  margin-top: 3%;
}

.foot a {
  color: #a0aec0;
  font-size: small;
  text-decoration: none;
}

.last {
  padding-left: 10%;
  color: #a0aec0;
  font-size: small;
  text-decoration: none;
}

.foot a:hover {
  text-decoration: underline;
  color: #555;
}

@media (max-width: 1500px) {
  .download-button {
    font-size: 13px;
    margin-right: 6%;
  }
  .login-container {
    grid-template-columns: 1.5fr 1fr;
  }
  .login-form {
    margin-top: 10%;
  }
}
@media (max-width: 1300px) {
  .wlcm-heading {
    color: rgb(42, 166, 166);
    font-size: 22px;
  }
  .sm-login-screen img {
    display: none !important;
  }
  .download-button {
    font-size: 10px;
  }
  .login-form {
    margin-right: 20%;
    align-content: center;
    max-width: 60%;
  }
}
@media (max-width: 1000px) {
  .login-container {
    grid-template-columns: 1fr 0fr;
  }
  .wlcm-heading {
    font-size: 25px;
  }
  .login-form {
    max-width: 50%;
    margin-right: 25%;
  }
}

@media (max-width: 700px) {
  .download-button {
    font-size: 7px;
  }
}
